<!DOCTYPE html>
<html>
  <head>
    <title>Grqame</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

           <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
  </head>


 <link rel="stylesheet" href="/css/neon.css">
 <link rel="stylesheet" href="/css/overlay.css">
 <link rel="stylesheet" href="/css/buttons.css">
  <link rel="stylesheet" href="/css/grid.css">
  <body>
    <script src="/js/html5-qrcode.min.js"></script>


    
    <%= yield %>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrious/4.0.2/qrious.min.js"></script>

    <script src="/js/qrreader.js"></script>
    <script src="/js/overlay.js"></script>


  </body>
</html>
