<!DOCTYPE html>
<html>
  <head>
    <title>Grqame</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <script src="js/html5-qrcode.min.js"></script>
    
    <%= yield %>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrious/4.0.2/qrious.min.js"></script>

    <script src="js/qrreader.js"></script>

  </body>
</html>
